<div class='container page-container'>
  <div class='row ng-scope'>
    <div class='col-md-9 col-md-pull-3'>
      {{#each friends as |friend|}}
              <section class='search-result-item'>
          <a class='image-link' href='/profile/{{id}}'><img
              class='image'
              src='https://www.gravatar.com/avatar/{{hashed_email}}'
            />
          </a>
          <div class='search-result-item-body'>
            <div class='row'>
              <div class='col-sm-9'>
                <h4 class='search-result-item-heading'><a
                    href='/profile/{{id}}'
                  >{{first_name}} {{last_name}}</a></h4>
                <p class='info'>{{city}} {{state}}</p>
              </div>
              {{#if ../loggedIn}}
                <div class='col-sm-3 text-align-center'>
                  <a
                    class='btn btn-primary btn-info btn-sm'
                    href='/profile/{{id}}'
                  >Add friend</a>
                  <a
                    class='btn btn-primary btn-info btn-sm'
                    href='/reviews/{{id}}'
                    id="add-review"
                  >Add Review</a>
                </div>
              {{/if}}
            </div>
          </div>
        </section>
      {{/each}}
    </div>
  </div>
</div>