<div class='container page-container'>
  <div class='row justify-content-center'>
    <div class='col-md-7 col-lg-4 mb-5 mb-lg-0 wow fadeIn'>
      <div class='card border-0 shadow'>
        <img
          src='https://www.gravatar.com/avatar/{{user.hashed_email}}'
          alt='...'
        />
        <div class='card-body p-1-9 p-xl-5'>
          <div class='mb-4'>
            <h3 class='h4 mb-0'>{{user.first_name}} {{user.last_name}}</h3>
          </div>
        </div>
      </div>
    </div>
    <div class='col-lg-8'>
      <div class='ps-lg-1-6 ps-xl-5'>
        <div class='mb-5 wow fadeIn'>
          <div class='text-start mb-1-6 wow fadeIn'>
            <h2 class='h1 mb-0 text-primary'>Hosting</h2>
          </div>
          <div class='row mt-n4'>
            {{#each user.listings}}
            {{> event}}
            {{/each}}
          </div>
        </div>
        <div class='wow fadeIn mb-4'>
          <div class='text-start mb-1-6 wow fadeIn'>
            <h2 class='mb-0 text-primary'>Friend Score</h2>
          </div>
          <div class='progress-style1'>
            <div class='progress-text'>
              <div class='row'>
                <div class='col-6 text-end'>{{user.avgScore}}%</div>
              </div>
            </div>
            <div class='custom-progress progress rounded-3 mb-4'>
              <div
                class='animated custom-bar progress-bar slideInLeft'
                style='width:{{user.avgScore}}%'
                aria-valuemax='100'
                aria-valuemin='0'
                aria-valuenow='10'
                role='progressbar'
              ></div>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>